
OPENAI_API_KEY=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

JWT_SECRET=Fake_News_Analysis

APP_URL=https://fake-news-analysis-c8nr.onrender.com
